.blog-list-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.blog-list-card .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog-list-card button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.blog-list-card .button-wrapper {
  display: flex;
  justify-content: end;
  padding-right: 40px;
}